.product-item{
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 12px;
}
.out-of-stock{
    color:#ff0000;
    top: 0;
    right: 0;
    padding: 7px 20px;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 12px;
    background-color: #fff;
}
.product-item_img .sale{
    position: absolute;
    top: 0;
    right: 0;
    color: #5c1f1f;
    padding: 7px 20px;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 12px;
    background-color: #fff;
}
img{
    max-width: 100%;
}